<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>msg</title>
</head>
<body>
	<form action="/msg_add" method="post">
		<h1>留言板</h1><small> node practice </small>
		<div>
			<label for="nameTxt">名子</label>
			<input type="text" name="name" id="nameTxt">
		</div>
		<div>
			<label> 想說的話
				<input type="text" name="message" >
			</label>
		</div>
		<button type="submit">送出</button>
	</form>
</body>
</html>