<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>msg</title>
</head>
<body>
	<form action="/add_student" method="post">
		<h1>增加學生</h1><small> node practice </small>
		<div>
			<label for="nameTxt">名子</label>
			<input type="text" name="name" id="nameTxt">
		</div>
		<div>
			<label> 年齡
				<input type="number" name="age" >
			</label>
		</div>
		<div>
			<label> gender
				<input type="number: 1 or 2" name="gender" >
			</label>
		</div>
		<div>
			<label> hobies
				<input type="text" name="hobies" >
			</label>
		</div>
		<button type="submit">送出</button>
	</form>
</body>
</html>